table,
tr,
th,
td {
  border: 1px solid #282c34;
  border-collapse: collapse;
}

table {
  width: 70%;
  margin: 20px auto;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,
table td {
  padding: 8px;
  cursor: pointer;
}
