* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  background-color: rgb(255, 173, 221);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section.App_nav {
  width: 50px auto;
  display: flex;
  background-color: cyan;
}
section.App_nav ul {
  display: flex;
  color: white;
  list-style: none;
}

section.App_nav a {
  display: inline-block;
  color: inherit;
  padding: 1rem;
  text-decoration: none;
}

table {
  width: 95%;
  margin: 20px auto;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr:nth-of-type(odd) {
  background-color: rgb(255, 187, 252);
}
table tr:nth-of-type(even) {
  background-color: rgb(255, 220, 255);
}
table th,
table td {
  padding: 8px;
  cursor: pointer;
}

div.bbs_write input {
  width: 80%;
  padding: 8px;
  margin: 5px auto;
  border: none;
  background-color: rgb(240, 240, 240);
  outline: none;
  border-radius: 10px;
}
div.bbs_write input:hover {
  background-color: #ddd;
}
div.bbs_write input:focus {
  background-color: #eee;
}
button.btn_save {
  background-color: rgb(129, 129, 129);
  width: 80%;
  color: white;
  margin: 5px auto;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
}
button.btn_save:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
